
/* Grid Section */
.grid-category{
    height: 90vh;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4,1fr);
    padding: var(--p-16px) 0;
    gap: var(--p-16px);
}

.grid-women{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 5;
    background:var(--c-women);
}
.grid-men{
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;    
    background: var(--c-man);

}
.grid-children{
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 3;    
    background: var(--c-kid);

}
.grid-accessory{
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 5;    
    background: var(--c-accessories);
}
.grid-cosmetic{
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 3;
    grid-row-end: 5;    
    background: var(--c-cosmetic);
}

.grid-button{
    display: grid;
    place-items: center;
    height: 100%;
    width: 100%;
    font-size: 3rem;
    color: var(--c-grey-shade);
    font-family: var(--ff-satisy);
    text-transform: capitalize;
}

@media ( max-width : 1199.98px){
    
}
@media ( max-width : 991.98px){
    .grid-category{
        width: 90%;
        height: 65vh;
    }
    .grid-button{
        font-size: 2.5rem;
    }
}
@media ( max-width : 767.98px){
    .grid-category{
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(5, 1fr);
    }
    .grid-women{
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 3;
    }
    .grid-men{
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;
    }
    .grid-children{
        grid-column-start: 3;
        grid-column-end: 5;
        grid-row-start: 3;
        grid-row-end: 5;
    }
    .grid-accessory{
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 4;
        grid-row-end: 6;
    }
    .grid-cosmetic{
        grid-column-start: 3;
        grid-column-end: 5;
        grid-row-start: 5;
        grid-row-end: 6;
    }
}
@media ( max-width : 575px){
    .grid-category{
        height: 60vh;
        gap: var(--p-8px);
    }
    .grid-button{
        font-size: 2rem;
    }
}
@media ( max-width : 374px){
    .grid-button{
        font-size: 1.8rem;
    }
}