
.NavBar{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    font-family: var(--ff-roboto);
    height: 64px;
    background-color: var(--c-grey-shade);
    padding: 0 var(--p-16px);
    color: var(--c-white);
    position: relative;
    z-index: 10;
    /* overflow-x: hidden; */
}

.NavBar-Search{
    /* flex-grow: 1; */
    width: 35%;
    position: relative;
    background-color: rgba(0,0,0,0.1);
    padding: var(--p-8px);
}
.NavBar-Search > input{
    width: 100%;
    height: 1.5rem;
    color: white;
    font-size: large;
}
.NavBar-Search > button{
    width: 9%;
    height: 1.5rem;
    cursor: pointer;
    font-size: large;
    position: absolute;
    right: 0;
    color: white;
    padding-right: var(--p-8px);
}
.NavBar-aside{
    display: flex;
    width: 45%;
    justify-content: space-between;
    align-items: center;
}
.NavBar-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* width: 25%; */
    gap: var(--p-16px);
    /* gap: 15px; */
}

#categories{
    color: white;
    font-size: medium;
    text-transform: capitalize;
    position: relative;
}
#categories > option{
    background-color: var(--c-grey-shade);
    text-transform: capitalize;
}
.dialog-box-container{
    position: relative;
    cursor: pointer;
    height: 100%;
}
.dialog-box{
    border: none;
    position: absolute;
    top: 45px;
    z-index: 5;
}
.category-item{
    display: inline-block;
    text-transform: capitalize;
    width: 100%;
    padding: var(--p-8px) var(--p-16px) ;
    font-size: small;
    color: var(--c-white);
    z-index: 5;

}
.category-item:nth-child(odd){
    background-color: var(--c-grey-shade);
}
.category-item:nth-child(even){
    background-color: var(--c-grey-dark-shade);
}


.user-link{
    display: flex;
    gap: var(--p-16px);

}
.user-link > a{
    font-size: larger;
    position: relative;
}
.user-link-like{
    position: absolute;
    font-size: x-small;
    color: var(--c-white);
}
.user-link-like-has-data{
    border: 1px solid var(--c-red);
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color: var(--c-red);
}
.user-link-like-has-no-data{
    border: none;
}

.toggle-button{
    display: none;
}


@media ( max-width : 1199.98px){
    
}
@media ( max-width : 991.98px){
    .NavBar-aside{
        position: absolute;
        top: 64px;
        right: 0;
        flex-direction: column;
        height: 50vh;
        gap: 2rem;
        padding: var(--p-16px);
        width: 0px;
        overflow: hidden;
        border-bottom-left-radius: 4px;
        background-color: var(--c-grey-shade);
    }
    .NavBar-nav{
        flex-direction: column;
    }
    .NavBar-Search{
        width: 50%;
    }
    .toggle-button{
        display: block;
        font-size: x-large;
        color: var(--c-white);
    }
    .dialog-box{
        width: 200px;
        left: -50%;
        top: 45px;
        text-align: center;
    }
    .NavBar-Show{
        /* animation: name duration timing-function delay iteration-count direction fill-mode; */
        animation: navBarShow 150ms ease-in-out forwards;
    }
    @keyframes navBarShow{
        from{
            width: 0px;
        }
        to{
            width: 320px;
        }
    }
    .NavBar-Hide{
        /* animation: name duration timing-function delay iteration-count direction fill-mode; */
        animation: navBarHide 250ms ease-in-out forwards;
    }
    @keyframes navBarHide{
        from{
            width: 320px;
            padding: var(--p-16px);

        }
        to{
            width: 0px;
            padding: 0;
        }
    }

}
@media ( max-width : 767.98px){
    .NavBar-header{
        font-size: medium;
    }

    .NavBar-Search input, button{
        height: 0.75rem;
        font-size: small;
    }
    .NavBar-Search > button{
        width: 13%;
    }
    .toggle-button{
        font-size: large;
    }
}
@media ( max-width : 575px){
    .NavBar-Search {
        width: 60%;
    }
}