.emptyListDiv{
    display: grid;
    place-items: center;
    height: calc(100vh - 64px);
}
.emptyList-header{
    font-family: var(--ff-satisy);
    text-align: center;
    color: var(--c-blue);
}
.liked-products-container{
    display: grid;
    grid-template-columns: 1fr 2fr;
    place-items: center;
    gap: var(--p-8px);
    margin: var(--p-16px);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    font-family: var(--ff-roboto);
    width: 90%;
    margin-inline: auto;
    padding: var(--p-8px);
}
.liked-image{
    height: 400px;
    aspect-ratio: 1/2;
    object-fit: contain;
}
.liked-aside{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}