.user-main{
    min-height: 91vh;
    width: 95%;
    margin-inline: auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: var(--p-16px) ;
    gap: 1rem;
    font-family: var(--ff-roboto) ;
}
.user-aside{
    display: grid;
    grid-template-rows: 0.25fr 1fr 1fr 0.25fr;
    place-items: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    gap: 1rem;
    padding: var(--p-16px);
}

.user-name{
    font-size: x-large;
    font-weight: bolder;
    color: var(--c-blue);
}
.user-name::first-letter{
    color: var(--c-blue);
}

.user-avatar{
    height: 150px !important;
    width: 150px !important;
    font-size: 90px !important;
    border: none;
    outline: solid var(--c-blue) 4px;
    outline-offset: 2px;
}
.user-profile-action > button{
    font-size: small;
    font-weight: bold;
}
.signout-btn{
    color: var(--c-white);
    font-weight: bold;
    width: 60%;
    padding: var(--p-8px);
    text-align: center;
    background-color: var(--c-light-red);
    border-radius: 4px;
}




.user-section{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.user-section-per-info{
    display: grid;
    gap: 2rem;
    /* width: 100%; */

}
.user-section-btn-cont{
    display: flex;
    gap: 1rem;
}
.user-section-btn{
    width: max-content !important;
    height: max-content !important;
}
@media ( max-width : 1199.98px){
    
}
@media ( max-width : 991.98px){
    .user-avatar{
        height: 130px !important;
        width: 130px !important;
        font-size: 90px !important;
    }
}
@media ( max-width : 767.98px){
    
    .user-main{
        grid-template-columns: 1fr;
    }
    .user-avatar{
        height: 100px !important;
        width: 100px !important;
        font-size: 50px !important;
    }
    .signout-btn{
        display: none;
    }
    .user-aside{
        max-height: 263.77px;
        grid-template-rows: 0.25fr 2fr 0.25fr;
        
    }
    .user-section{
        min-height: 278px;
    }
}
@media ( max-width : 575px){

    .user-tablist{
        font-size: small !important;
        padding: 8px 12px !important;
    }
    
}