:root {

  /*? Font Family */
  --ff-dancing-script : 'Dancing Script', cursive;
  --ff-satisy : 'Satisfy', cursive;
  --ff-roboto : 'Roboto', sans-serif;

  /* ? COLORS */
  --c-white: #fff;
  --c-grey-shade: #333333;
  --c-grey-dark-shade: #222222;
  --c-blue : #717fe0;
  --c-blue-light: #717fe040;
  --c-pink : #f74877;
  --c-red : #ca1515;
  --c-green : #36a300;
  --c-yellow : #fea21c;
  --c-btn-blue: #42a5f5;
  /* ? Grid Specific color*/
  --c-women : #fae3d9;
  --c-man : #bee2d6;
  --c-kid : #d6d3f0;
  --c-cosmetic : #fedbe4;
  --c-accessories : #cee2f5;

  /* ? Padding */
  --p-4px: 0.25rem;
  --p-8px : 0.5rem;
  --p-16px : 1rem;
  --p-32px : 2rem;
  --p-64px : 4rem;

  /* ? margin */
  --m-4px: 0.25rem;
  --m-8px : 0.5rem;
  --m-16px : 1rem;
  --m-32px : 2rem;


  line-height: 1.5;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
  color: var(--c-white);
}
input,button,select{
  border: none;
  background: transparent;
}

input:focus,select:focus{
  outline: none;
}
/* 
@media ( max-width : 1199.98px){
    
}
@media ( max-width : 991.98px){
    
}
@media ( max-width : 767.98px){
    
}
@media ( max-width : 575px){
    
}
 */
